---
import Layout from '../components/layout/Layout.astro';
---
<Layout title="Contenus en ligne" description="Podcast, vidéos et ressources en ligne de Nicolas Cornut.">
  <div class="page-content">
    <h1>Contenus en ligne</h1>
    <h2>Podcast – Dans la tête de Nicolas Cornut</h2>
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/show/2tt2PDaNfAnByfXpBYs0Ow?utm_source=generator"
      width="100%"
      height="352"
      frameBorder="0"
      allowfullscreen
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <div class="page-links">
      <a href="/particuliers/">Particuliers</a>
      <a href="/la-scene-interieure/">La Scène intérieure</a>
      <a href="/particuliers/groupe-continu-de-psychotherapie/">Groupes Continu de Psychothérapie</a>
      <a href="/clown/">Miroir du Clown</a>
    </div>
  </div>
</Layout>
